<h1>Listing users</h1>
<%= link_to 'New user', new_user_path %>
<table>
    <tr>
        <th>Id</th>
        <th>Points</th>
        <th></th>
    </tr>

    <% @users.each do |user| %>
        <tr>
            <td><%= user.id %></td>
            <td><%= user.points %></td>
            <td><%= link_to 'Show', user_path(user) %></td>
        </tr>
    <% end %>
</table>
