<%= form_with scope: :user, url: users_path, local: true do |form| %>
    <% if @user.errors.any? %>
        <div id="error_explanation">
            <h2>
                <%= pluralize(@user.errors.count, "error") %> prevented
                this user from being saved:
            </h2>
            <ul>
                <% @user.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>
    <p>
    <%= form.label :points %><br>
    <%= form.text_field :points %>
    </p>

    <p>
    <%= form.submit %>
    </p>
<% end %>
