<h1>Listing skills</h1>
<%= link_to 'New skill', new_skill_path %>
<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Parent id</th>
        <th></th>
    </tr>

    <% @skills.each do |skill| %>
        <tr>
            <td><%= skill.id %></td>
            <td><%= skill.name %></td>
            <td><%= skill.skill_id %></td>
            <td><%= link_to 'Show', skill_path(skill) %></td>
        </tr>
    <% end %>
</table>
<h1>Score board</h1>
<% @score.each do |line| %>
    |<%= line["id"] %> | <%= line["name"] %> | <%= line["points"] %> | <%= line["users_count"] %> |<br> 
<% end %>


