<%= form_with scope: :skill, url: skills_path, local: true do |form| %>
    <% if @skill.errors.any? %>
        <div id="error_explanation">
            <h2>
                <%= pluralize(@skill.errors.count, "error") %> prevented
                this skill from being saved:
            </h2>
            <ul>
                <% @skill.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>
    <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
    </p>

    <p>
    <%= form.label :parent %><br>
    <%= form.text_field :skill_id %>
    </p>

    <p>
    <%= form.submit %>
    </p>
<% end %>
