<p>
<strong>Skill id</strong>
<%= @skill.id %>
</p>
<p>
<strong>Skill name</strong>
<%= @skill.name %>
</p>
<p>
<strong>Skill parent </strong>
<%= @skill.skill_id %>
</p>
<p>
<strong> Users scores </strong>
<% @skill.users.each do |user|%>
    <br>ID:<%= user.id %> - Points:<%= user.points %></br>
<% end %>
</p>
